.main{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 53%;
  width: 100%;
}
.container__Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}
.main_read_files{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}
